@media screen and (max-width: 600px){

.header-logo h1 img{
    width: 50%;
    height: 200px;
}

.left-nav {
    display: none;
}

.right-nav{
    height: 30px;
}

.right-nav a{
    text-decoration: none;
}

.back{
    height: 180px;
}

h2{
    margin-top: 30px;
    padding: 0;
    font-size: 20px;
}

.menu img{
    height: 130px;
}

span{
    font-size: 13px;
}

p{
    font-size: 20px;
}
.menu p{
    font-size: 15px;
}

.access{
    display: block;
    text-align: center;
}

.map{
    width: 100%;
}
.map iframe{
    width: 90%;
}

.map-text{
    width: 100%;
}
















}
