body{
    font-family: 游明朝;
}

.header-wrap{
    display: flex;
    background-image: url(image/haikei2_0002.png);
}

.header-left{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.header-logo h1 img{
    width: 25%;
    height: 330px;
}

.header-left a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.header-left ul{
    list-style: none;
    writing-mode: vertical-rl;
    letter-spacing: 0.3em;
    text-align: left;
    line-height: 2;
    margin: 0 auto;
    
}

.header-left li{
    font-family: "游明朝";
    font-size: 20px;
    padding-left: 5px;
    
}

.header-right{
    width: 70%;
}

.header-right img{
    width: 100%;
    z-index: 100;
}

.right-nav{
    height: 70px;
    background: rgba(15, 150, 3, 0.5);
    margin-left: 10%;
}

.back{
    background:rgba(243, 133, 8, 0.5);
    width: 50%;
    height: 670px;
    transition: 0.3;
    margin-top: -45%;
    margin-left: 23%;
}

.menu-wrap{
    display: flex;
    background-image: url(image/haikei2_0002.png);
}

h2{
    text-align: center;
    background-color: rgb(187, 4, 4);
    opacity: 0.9;
    color: white;
    margin: 100px 10% 20px;
    padding:10px 0;
    font-family: "游明朝";
}
.menu img{
    width: 100%;
    border: solid 2px rgb(109, 2, 2);
    
}

.menu{
    margin: 1%;
    padding-top: 10px;
    text-align: center;

}

.menu p{
    font-size: 20px;
    margin-top: -5px;  
}

.access{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.map iframe{
    width: 100%;
    height: 300px;
}

.map{
    width: 30%;
    padding-right: 50px;
}
